.inputWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.input {
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #ddd;
}

.searchButton {
  padding: 10px 0;
  font-size: 1.6rem;
  background: #ddd;
  border: 1px solid #ddd;
  width: 54px;
  text-align: center;
}

.note {
  opacity: 0.7;
  text-align: center;
  margin: 10px 0 20px;
}

.noData {
  text-align: center;
  color: red;
}

@media screen and (max-width: 768px) {
  .resultBox {
    margin-bottom: 190px;
  }
}
